.compose {
  padding: 10px;
  display: flex;
  align-items: center;
  border-top: 1px solid #eeeef1;
  width: 580px;
  position: absolute;
  bottom: 0;
  border-radius: 10px;
  background: #d4aa73;
  color: #424242;
}

@supports (backdrop-filter: blur(20px)) {
  .compose {
    border: none;
    backdrop-filter: blur(20px);
  }
}

.compose-input {
  flex: 1;
  border: none;
  font-size: 14px;
  height: 35px;
  background: none;
}

.compose-input::placeholder {
  opacity: 0.6;
}

.compose .toolbar-button {
  color: #a9a9ad;
  margin-left: 15px;
}

.compose .toolbar-button:hover {
  color: #99999c;
}

.send-button {
  background-color: Transparent;
  background-repeat:no-repeat;
  border: none;
  cursor:pointer;
  overflow: hidden;
  outline:none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
}