html, body {margin: 0; height: 100%; overflow: hidden}

body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 30px;
  background: #ffce8f;
}

ol, ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  color: #424242;
  margin-bottom: 10px;
}

.square {
  color: #424242;
  background: #eff1bc;
  border: 2px solid #f1d553;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 24px;
  height: 32px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 32px;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  margin-left: 100px;
}

.game {
  display: flex;
  flex-direction: row;
  overflow: hidden;
  margin-top: 30px;
}

.game-board {
  border: 3px solid #766928;
  padding-right: 1px;
}

.game-info {
  font-size: 48px;
  color: #424242;
  margin: 0 auto;
  text-align: center;
  width: 400px;
}

.restart-button {
  text-align: center;
}

.restart:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.restart:focus {
  outline: none;
}

.restart:active {
  box-shadow: 0 1px #424242;
  transform: translateY(1px);
}

.restart {
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  background-color: #424242;
  color: #fffde7;
  border: none;
  font-size: 24px;
  line-height: 48px;
  height: 48px;
  width: 40%;
  text-align: center;
  border-radius: 4px;
}

.move-history {
  font-size: 14px;
  color: #424242;
  margin: auto 50px;
  text-align: center;
  width: 500px;
}

.center {
  top:50%;
  left: 50%;
  transform: translate3d(-50%,-50%, 0);
  position: absolute;
}

.horizontal-center {
  left: 50%;
  transform: translate3d(-50%,0%, 0);
}