html, body {
  margin: 0;
  height: 100%;
  overflow-y: scroll;
  overflow-x: scroll;
}

body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 30px;
  background: #ffce8f;
}

::-webkit-scrollbar {
  display: none;
}

#element::-webkit-scrollbar {
  display: none;
}

ol, ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  color: #424242;
  margin-bottom: 10px;
}

.square {
  color: #424242;
  background: #eff1bc;
  border: 2px solid #f1d553;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 24px;
  height: 32px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 32px;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: 50px;
  position: relative;
  min-width: 1400px;
}

.game {
  display: flex;
  flex-direction: row;
  margin-top: 30px;
}

.game-board {
  border: 3px solid #766928;
  padding-right: 1px;
}

.game-info {
  font-size: 48px;
  color: #424242;
  margin: 0 auto;
  text-align: center;
  width: 400px;
}

.restart-button {
  text-align: center;
}

.restart:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.restart:focus {
  outline: none;
}

.restart:active {
  box-shadow: 0 1px #424242;
  transform: translateY(1px);
}

.restart {
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  background-color: #424242;
  color: #fffde7;
  border: none;
  font-size: 24px;
  line-height: 48px;
  height: 48px;
  width: 40%;
  text-align: center;
  border-radius: 4px;
}

.move-history {
  font-size: 14px;
  color: #424242;
  margin: auto 50px;
  text-align: center;
  width: 500px;
}

.center {
  top:50%;
  left: 50%;
  transform: translate3d(-50%,-50%, 0);
  position: absolute;
}

.horizontal-center {
  left: 50%;
  transform: translate3d(-50%,0%, 0);
}

.social-login-button {
  margin-top: 15px;
  font-weight: bold;
}

.ant-table-placeholder {
  display: none;
}

#historyTable thead,
#historyTable th {
  text-align: center;
  background: #ffc069;
  border: 1px solid #d6a960;
}

.table-row {
  text-align: center;
  font-weight: bold;
  color: #565656;
  background: #fccd8e;
}

.anticon-caret-up,
.anticon-caret-down {
  color: black;
}

.all-centered {
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

.box-shadow {
  -webkit-box-shadow: -5px 5px 20px 0 rgba(97,97,97,0.6);
  -moz-box-shadow: -5px 5px 20px 0 rgba(97,97,97,0.6);
  box-shadow: -5px 5px 20px 0 rgba(97,97,97,0.6);
}

.button-shadow {
  -webkit-box-shadow: -3px 3px 10px 0 rgba(97,97,97,0.4);
  -moz-box-shadow: -3px 3px 10px 0 rgba(97,97,97,0.4);
  box-shadow: -3px 3px 10px 0 rgba(97,97,97,0.4);
}

.button-shadow:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.avatar {
  width: 248px;
  height: 248px;
}

.ant-card-meta-title {
  font-size: 20px;
}

/*.ant-card-actions {*/
/*  margin-top: 70px;*/
/*}*/

.loader {
  border: 16px solid #f3f3f3;
  /* Light grey */
  border-top: 16px solid #3498db;
  /* Blue */
  border-radius: 50%;
  width: 80px;
  height: 80px;
  animation: spin 0.8s linear infinite;
  margin: 0 auto;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.modal {
  text-align: center;
  padding: 0 !important;
}

.page-mask {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-color: rgba(0,0,0,0.6);
}

.button-online {
  height: 35px;
  font-size: 16px;
}

.game-info-section {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}